.languages {
  display: flex;
  gap: .5rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 1.5rem;
}

.language {
  user-select: none;
  list-style: none;;
  background: #ddd;
  color: black;
  padding: .2rem .5rem;
  border-radius: .3rem;
  cursor: pointer;

  &--selected {
    background: var(--main-color);
  }
}
