
:host {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin: 2rem .5rem;
}

.search {
  width: 300px;
  font-size: 1rem;
  border-radius: .3rem;
  border: 1px solid black;
  padding: .3rem .5rem;
}

.title {
  font-size: 2rem;
  color: var(--main-color);
  font-weight: bold;
  margin-bottom: -.4rem;
}

.variables {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.variable-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  padding: 0 1.5rem;

  &:last-of-type {
    margin-bottom: 1.5rem;
  }
}

.variable {
  background: rgba(0, 0, 0, .3);
  text-align: center;
  width: 100%;
  max-width: 800px;
  border-radius: .5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h3 {
    color: white;
    text-decoration: underline;
  }

  p {
    color: white;
    background: rgba(0, 0, 0, .3);
    font-size: 1.3rem;
    min-width: 300px;
    padding: .2rem 0;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: .2rem;
  }

  a, a:visited, a:hover, a:active {
    color: inherit;
  }

  li {
    list-style: none;
    padding: .1rem .2rem;
    border-radius: .3rem;
    background: lightgray;
    font-size: .9rem;
  }

  &_materials li {
    background: var(--main-color);
  }

  &_inherited_materials li, &_parents li {
    background: var(--inherited-color);
  }
}

.highlighted-searchable {
  background: var(--search-color) !important;
}