* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --main-color: rgb(204, 145, 50);
  --inherited-color: rgb(159,121,238);
  --search-color: rgb(80, 163, 94);
}

html, body {
  font-size: 16px;
  font-family: sans-serif;
  background: #333;
}